_srcs
C#/bin
C#/obj
C++/example
D/example
D/example.o
Elm/elm-stuff
Elm/node_modules
Erlang/erl_crash.dump
Erlang/example.beam
F#/bin
F#/obj
Haskell/out
Haskell/example
Haxe/.haxelib
Haxe/example.n
Idris/build
Java/**.class
Kotlin/META-INF
Kotlin/**.class
Nim/example
PureScript/.spago
PureScript/node_modules
PureScript/output
ReScript/lib
ReScript/node_modules
ReasonML/example.ml
Rust/example
Scala/**.class
Scala/**.tasty
StandardML/example
Swift/example
TypeScript/dist
TypeScript/node_modules
VisualBasic/bin
VisualBasic/obj
**/stringify.out